@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200;300;400;600&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rokkitt', serif;
    background-color: #FEFBE7;
}

.content{
    min-height: calc(100vh - 7rem);
}
