.container {
    min-height: 100vh;
}
.content{
    text-align: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
.button{
    margin-top: 1rem;
}
.divider{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #393737;
    opacity: 0.5;
}
.gridPackages, .gridPackagesImage, .gridPortfolio, .gridPortfolioImage{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 5px 0px #393737;
    background-color: #F9EBC8;
}
.gridSocial{
    background-color: #DAE5D0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
    padding: 1rem;
}
.socialContainer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social{
    display: flex;
    margin-top: 0.5rem;
    color: #393737;
}
.icon{
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}
.iconLeft{
    transform: rotate(180deg);
}