.container {
    min-height: 100vh;
}
.content{
    text-align: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
.button{
    margin-top: 1rem;
    background-color: #FEFBE7;
}
.divider{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #393737;
    opacity: 0.5;
}
.gridPackages, .gridPackagesImage, .gridPortfolio, .gridPortfolioImage{
    display: flex;
    height: 100%;
    min-height: 340px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 5px 0px #FEFBE7;
    background-color: #393737;
}
.gridSocial{
    background-color: #C2986E;
    box-shadow: inset 0px 0px 5px 0px #393737;
    padding: 1rem;
}
.socialContainer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social{
    display: flex;
    margin-top: 0.5rem;
    color: #393737;
}
.icon{
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}
.iconLeft{
    transform: rotate(180deg);
}